/* Common Style and Utilities  */

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
.text-cbr-blue {
  color: #23a6f0;
}
.text-cbr-black {
  color: #252b42;
}

.cbr-button {
  background-color: #e76f51;
  color: #fff;
  border-radius: 5px;
  border: 1px solid transparent;
}
.cbr-button:hover {
  background-color: transparent;
  color: #e76f51;
  border: 1px solid #e76f51;
}

.cbr-honda-bg {
  background-color: #264653;
}
h2 span,
p span {
  color: #e76f51;
}

/* Banner Section Style  */

.banner-description {
  color: #e0e0e0;
  width: 82%;
}

/* Fetured Bikes Style  */

hr {
  border: 1px solid #e76f51;
  border-radius: 1px;
  width: 60px;
  margin: auto;
}
.cbr-grey-img {
  filter: grayscale(100);
}

/* Happy Clients Style  */
.social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
}
.social-icons li a i {
  color: #e77c40;
  width: 22.01px;
}

/* FAQ Section Style   */

.accordion-cbr-button:not(.collapsed) {
  color: #383838;
  background-color: #fff;
  box-shadow: none;
}

.accordion-item:not(:first-of-type) {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.accordion-button:focus {
  box-shadow: none;
}
/* Footer Section Style  */

footer {
  background-color: #0b0d17;
}
.footer-menu {
  margin: 0;
  padding: 0;
}
.footer-menu li {
  list-style: none;
  display: inline;
  margin-right: 24px;
}
.footer-menu li a {
  text-decoration: none;
  color: #ffffff;
}
.get-the-app {
  color: #d9dbe1;
  font-size: 18px;
  margin-left: 8px;
}
